<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RRScrollViewImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>236DF35F1C4A89410053D724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236DF3721C4A89410053D724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236DF37D1C4A89410053D724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
